.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 25rem;
}

/* media queries for swiper  */
@media only screen and (max-width: 600px) {
  .swiper-container {
  }
}
